
<div class="header-right-element d-flex">
                <div class="search-element media-body">
                  <div id="search">
                    <input type="text" name="search" placeholder="{{ text_search }}" value="{{ search }}"/>
                    <button>Search</button>
                  </div>
                </div>
              </div>